  img {
    max-width: 100%;
    max-height: 100%;
}
 
  ul.result {
  list-style-type: '🢧 ';
  font-weight: bold;
 }
 
  .reveal img {
    margin: var(--r-block-margin) 0 0 0;
  }
  
  figcaption {
    font-size: 65%;
  }
  
  .reveal .footer {
    font-size: small;
    position: fixed;
    bottom: 0px;
    align-content: center;
    line-height: 1;
    padding: 15px;
  }
  
  #photo-credit {
    font-size: 50%;
    position: fixed;
    bottom: 0px;
    line-height: 1;
    padding: 15px;
    z-index: 10;
}
  

  h1.title {
  }
  
  .line {
    background: #d33682;
  }
  
  img.logo {
    max-width: 50%; /* Ensures the image scales down responsively */
    width: 100px;
    padding: 0px;
    height: auto;    /* Maintains aspect ratio */
    object-fit: contain; /* Ensures the entire image is shown within the given space */
  }
  
  .subtitle {
    font-size: larger;
  }
  
  .author.institute {
  }
    
  .date {
    font-size: 65%;
  }
  
  .footnotes {
    font-size: 50%;
  }
  
  .highlight {
    background: #d33682;
    color: white;
    padding: 5px 10px;
  }
  
  .border {
    box-shadow:
      0 1px 4px rgba(0, 0, 0, 0.5),
      0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px;
  }
  
  .box {
    width: 30%;
    box-shadow:
      0 1px 4px rgba(0, 0, 0, 0.5),
      0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0px 20px;
    font-size: 20px;
    text-align: left;
  }
  
  .left {
    position: fixed;
    margin: -20px;
    left: 0px;
  }
  
  .column{
    align-content: center;
  }
    
  .citation {
    font-size: small;
    color: gray;
    position: bottom
  }
  
  .right {
    position: fixed;
    right: -30px;
  }
  
  .bottom {
    position: fixed;
    bottom: 0px;
  }
