  .line {
    background: purple;
  }
    
  .subtitle {
    font-size: larger;
    background: #FF4081;
    color: white;
  }
  
  .author.institute {
  }
    
  .date {
    font-size: smaller;
  }
  
  .footnotes {
    font-size: smaller;
  }
  
  .highlight {
    background: #FF4081;
    color: white;
    padding: 5px;
  }
 
  ul.result {
  list-style-type: '🢧 ';
  font-weight: bold;
 }
 
  .reveal img {
    margin: var(--r-block-margin) 0 0 0;
  }
  
  figcaption {
    font-size: 65%;
  }
  
  .reveal .footer {
    position: absolute;
    right: center;
    bottom: 10px;
    line-height: 1;
    padding: 5px;
  }
  
  .box {
    width: 40%;
    box-shadow:
      0 1px 4px rgba(0, 0, 0, 0.5),
      0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-align: left;
  }
  
  .citation {
    font-size: small;
    color: gray;
    position: bottom
  }
  
  .box.right {
    position: absolute;
    right: 0;
  }
  
  .box.bottom {
    position: bottom;
  }
  
  .rotate-right {
     
    /* Adjust the angle as needed */
     
      transform: rotate(5deg);
      margin-top: 100px;
  }
  
  
  .rotate-left {
     
    /* Adjust the angle as needed */
     
      transform: rotate(-5deg);
      margin-top: 100px;
  }
