  .line {
    background: purple;
  }
    
  .subtitle {
    font-size: larger;
    background: #FF4081;
    color: white;
  }
  
  .author.institute {
  }
    
  .date {
    font-size: smaller;
  }
  
  .footnotes {
    font-size: smaller;
  }
  
  .highlight {
    background: #FF4081;
    color: white;
    padding: 5px;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
}
 
  ul.result {
  list-style-type: '🢧 ';
  font-weight: bold;
 }
 
  .reveal img {
    margin: var(--r-block-margin) 0 0 0;
  }
  
  figcaption {
    font-size: 65%;
  }
  
  .reveal .footer {
    position: absolute;
    right: center;
    bottom: 10px;
    line-height: 1;
    padding: 5px;
  }
  
  .border {
    box-shadow:
      0 1px 4px rgba(0, 0, 0, 0.5),
      0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px;
  }
  
  .box {
    width: 30%;
    box-shadow:
      0 1px 4px rgba(0, 0, 0, 0.5),
      0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0px 20px;
    font-size: 20px;
    text-align: left;
  }
  
  .left {
    position: fixed;
    margin: -20px;
    left: 0px;
  }
  
  .column{
    align-content: center;
  }
    
  .citation {
    font-size: small;
    color: gray;
    position: bottom
  }
  
  .right {
    position: fixed;
    right: -30px;
  }
  
  .bottom {
    position: fixed;
    bottom: 0px;
  }
  
  .rotate-right {
     
    /* Adjust the angle as needed */
     
      transform: rotate(5deg);
      margin-top: 100px;
  }
  
  
  .rotate-left {
     
    /* Adjust the angle as needed */
     
      transform: rotate(-5deg);
      margin-top: 100px;
  }
